* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.form {
  display: grid;
  place-content: center;
  gap: 1.5rem;

}

.holder {
  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 2rem;
  border: solid 1px #000;
  width: 20rem;
  border-radius: 10px;

}

.title {
  font-size: 3rem;
  text-align: center;
  font-family: 'Edu QLD Beginner', cursive;
  font-family: 'Rubik Moonrocks', cursive;
  font-family: 'Secular One', sans-serif;
}

.user,
.password {
  padding: 0.5rem;
  border-radius: 10px;
}

.login-button {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 1px rgb(193, 193, 193);
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: rgb(5, 5, 24);
  color: white;
  justify-content: space-between;
}

.header_part {
  padding: 10px;
  text-align: left;
}

.header_container {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: end;
  padding: 10px;

}

.header_container a {
  font-size: 18px;
  padding: 30px;
}

.header_container a:hover {
  font-size: 20px;
  color: rgb(125, 125, 187);

}


.main {
  display: grid;
  grid-template-columns: 400px 1fr;

}

.Subject_Part {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: solid 5px rgb(74, 74, 74);
  border-radius: 10px;
  float: left;
  height: auto;
  width: 250px;
  text-align: center;
  margin-right: 150px;
  margin-left: 50px;
  margin-top: 100px;

}

.Subject_Part h4 {
  border: solid 5px rgb(74, 74, 74);
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.Subject_Part h3 {
  border-top: solid 2px black;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.Subject_Part h3:hover {
  font-size: 22px;
  color: rgb(4, 4, 29);
  background-color: #dbeffd;
}

.Important_Part {
  display: grid;
  grid-template-columns: 300px 1fr;
  place-items: right;
  justify-content: center;
  border: solid 5px rgb(74, 74, 74);
  border-radius: 10px;
  width: 900px;
  height: 600px;
  margin: 50px;
  text-align: center;
}

.Professor_in_Student {
  text-align: center;
  justify-content: center;
  border-right: solid 3.5px rgb(74, 74, 74);


}

.Professor_in_Student img {
  width: 200px;
  height: 210px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.forstudent {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  margin: 60px;
}